<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/layout}">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

</head>
<body>
<section layout:fragment="content">

    <!-- MONTANDO O GRID PARA POSICIONAR O FORMULÁRIO NO CENTRO -->
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp mdl-color--white">
            <h4>&nbsp;Sistema de Cadastro de Usuários&nbsp;</h4>
        </section>
        <div class="mdl-layout-spacer"></div>
    </div>

</section>

</body>
</html>